<div class="container">
  <h4>ログイン</h4>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <label>
          <%= f.check_box :remember_me, :class=>"filled-in" %>
          <span><%= f.label :remember_me %></span>
        </label>
      </div>
    <% end %>
    
    <div class="login-wrapper">
    <%= button_tag class: 'btn waves-effect waves-light' do %>
    ログイン
    <% end %>
    </div>

  <% end %>

  <div class="link">
    <%= render "users/shared/links" %>
  </div>
</div>
